body {
    background-color: #f2e9e1;
    color: #ff0000; 
  }
  
  .btLink {
    display: inline-block;
    background-color: #ffff00; 
    color: #ff0000; 
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .btLink:hover {
    background-color: #ffcc00; 
  }
  